$background-color-login: #2A2E32;
$text-color-login: #C3CBD6;


.form-check-input[type=checkbox].checkbox-account {
    width: 12px;
    height: 12px;
    outline: 0;
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }
}

.form-select.select-account {
    background-color: #32353C;
    border: 0;
    border-radius: 0;
    color: white;
    outline: 0;
    height: 21px;
    font-size: 7px;
    padding-bottom: 5px;

    &:focus {
        outline: 1px solid white;
        outline-offset: 1px;
        background-color: #32353C;
        color: white;
        box-shadow: none;
    }
}

.form-control.input-account {
    background-color: #32353C;
    border: 0;
    border-radius: 0;
    color: white;
    outline: 0;
    height: 21px;
    font-size: 7px;
    padding-bottom: 7px;

    &:focus {
        outline: 1px solid white;
        outline-offset: 1px;
        background-color: #32353C;
        color: white;
        box-shadow: none;
    }
}

.form-check-input.checkbox-login {
    background-color: $background-color-login !important;
    width: 16px;
    height: 16px;
    border-radius: 0 !important;
    border: 1px solid #474F61;
    font-size: 10px;
    outline: 0 !important;

    &:focus {
        background-color: $background-color-login !important;
        outline: 0;
        border: 1px solid $text-color-login !important;
        border-radius: 0;
        box-shadow: none;
    }

    &:checked {
        background: $background-color-login;
        color: $text-color-login;
        border-radius: 0;
        border: 1px solid #e6e9f0;
        outline: 0;
        box-shadow: none;
    }
}

.form-control.input-login {
    background-color: $background-color-login;
    border: 1px solid #474F61;
    border-radius: 0;
    color: $text-color-login;
    font-size: 14px;
    height: 25px;
    align-items: center;
    padding-bottom: 13px;
    border-radius: 4px;
    width: 430px;
    outline: 0;

    &:focus {
        background-color: $background-color-login;
        color: $text-color-login;
        border-radius: 0;
        border: 1px solid $text-color-login;
        outline: 0;
        box-shadow: none;
    }
}

.search-box {
    background-color: #316282;
    height: 27px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 1px 1px rgb(#316282, 0.842);

    &:hover {
        border: 1px solid #4c9acc;
        box-shadow: none;
    }

    input {
        background: transparent;
        border-radius: 0;
        border: none;
        color: white;
        height: 27px;
        font-size: 14px;
        outline: 0;
        padding-bottom: 9px;

        &::placeholder {
            color: #0e1c25;
            font-size: 14px;
            font-style: italic;
            text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
        }

        &:focus {
            color: white;
            background: transparent;
            outline: 0;
            box-shadow: none;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
    }

    a {
        border-radius: 3px !important;
        width: 23px;
        height: 23px;
        position: relative;
        background-color: #4c9acc;
        margin-right: 1px;
        margin-top: 1px;

        &:hover  {
            background-color: #66c0f4 !important;
        }

        img {
            height: 15px;
            width: 15px;
            position: absolute;
            right: 4px;
            top: 4px;
        }
    }
}

.menu-search {
    background-color: #23252A;
    width: 50% !important;
    height: 25px;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 2px 0 0 2px;

    &:hover {
        border: 2px solid #1A1A1B;
        box-shadow: none;
    }

    input {
        background: transparent;
        border-radius: 0;
        border: none;
        color: white;
        height: 23px;
        outline: 0;
        font-size: 10px;
        padding: 0 0 9px 0;
        margin: 3px 0 0 0;
        
        &::placeholder {
            opacity: 0;
            color: #3F434A;
            font-size: 10px;
            font-style: italic;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover::placeholder {
            opacity: 100;
        }

        &:focus::placeholder {
            color: #69696B;
            opacity: 100;
        }

        &:focus {
            color: white;
            background: transparent;
            outline: 0;
            box-shadow: none;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            position: absolute;
            top: 2px;
            right: 2px;  
            height: 10px;
            width: 10px;
            background-image: url(../../assets/cross.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    a {
        border-radius: 0;
        width: 17px;
        height: 17px;
        position: relative;
        background-color: transparent;
        margin-right: 0;
        margin-top: 2px;

        &:hover  {
            background-color: transparent !important;
        }

        img {
            height: 13px;
            width: 13px;
            position: absolute;
            right: 4px;
            top: 2px;
        }
    }
}