.btn-secondary.login-button {
  display: inline-block;
  border-radius: 0;
  line-height: 30px;
  margin: 4px !important;
  border: none;
  color: white;
  font-size: 18px;
  text-align: justify;
  padding: 0 25px;
  margin: 0 1px;
}

.btn-secondary.gradient-blue-button {
  display: inline-block;
  border-radius: 0;
  line-height: 35px;
  margin: 4px !important;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#06BFFF), to(#276ffd));
  background: linear-gradient(90deg, #06BFFF 0%, #276ffd 100%);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: inherit;
  padding: 0 25px;
  margin: 0 1px;
}

.btn-secondary.gradient-blue-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#7fd8f6), to(#6497ff));
  background: linear-gradient(90deg, #7fd8f6 0%, #6497ff 100%);
}

.btn-secondary.wishlist-button {
  display: inline-block;
  border-radius: 0;
  background: #91949c;
  line-height: 20px;
  font-size: 11px;
  padding: 0 25px;
  margin: 0 1px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-family: inherit;
}

.btn-secondary.wishlist-button:hover {
  color: #030303 !important;
  border: 1px solid #030303 !important;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#9f9fa0));
  background: linear-gradient(90deg, #ffffff 0%, #9f9fa0 100%);
}

.btn-secondary.transparent-button {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #b2b2b2 !important;
  line-height: 20px;
  color: #d1cfcf;
  font-size: 12px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
}

.btn-secondary.transparent-button:hover {
  color: white;
  border: 2px solid white !important;
  background: transparent !important;
}

.btn.clock-button img {
  height: 20px;
}

.btn.play-button img {
  height: 20px;
}

.btn.message-button {
  background: #2A2E32;
  border: none;
  margin: 4px;
  border-radius: 0;
}

.btn.message-button img {
  height: 35px;
  background: transparent;
}

.btn.message-button:hover {
  background: #47525c !important;
}

.btn.notices-button {
  background: #2A2E32;
  border: none;
  margin: 4px;
  border-radius: 0;
}

.btn.notices-button img {
  height: 35px;
  background: transparent;
}

.btn.notices-button:hover {
  background: #47525c !important;
}

.btn.four-squares {
  background: #2A2E32;
  border: none;
  margin: 4px;
  border-radius: 0;
}

.btn.four-squares img {
  height: 35px;
  background: transparent;
}

.btn.four-squares:hover {
  background: #47525c !important;
}

.btn.adjust-button {
  background: #2A2E32;
  border: none;
  margin: 4px;
  border-radius: 0;
}

.btn.adjust-button img {
  height: 35px;
  background: transparent;
}

.btn.adjust-button:hover {
  background: #47525c !important;
}

.btn.add-button {
  background: #2A2E32;
  border: 1px solid #b2b2b2;
  margin: 4px;
  border-radius: 130px;
}

.btn.add-button img {
  height: 35px;
  background: transparent;
}

.btn.add-button:hover {
  background: #47525c !important;
}

.btn.fullscreen-button {
  background: #e3e3e3;
  border: 1px solid black;
  margin: 4px;
  border-radius: 0;
}

.btn.fullscreen-button img {
  height: 35px;
  background: transparent;
}

.btn.fullscreen-button:hover {
  background: #ffffff !important;
  border: 1px solid black !important;
}

.btn.settings-button img {
  height: 20px;
}
/*# sourceMappingURL=ButtonStyle.css.map */