.side-bar {
    background-color: #2C313A;
    height: auto;
}

.btn.side-bar-home {
    padding: 0 10px 0 10px;
    border: 0;
    border-radius: 3px;
    background-color: #3E4047;
    background-image: url(../../assets/steam-sidebar.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: 30px;

    &:hover {
        background-color: #3E4047;
    }  
}

.dropdown-menu-all.btn-group {
    width: 100%;
    .btn-secondary{
        width: 100px;
        height: 25px;
        display: block;
        background-color: #23252A;
        border: 0;
        border-radius: 3px;
        padding: 0 10px 0 10px;
        font-size: 14px;
        text-align: left;
    }

    .dropdown-toggle::after{
        margin-left: 80%;
    }
}

.list-period {
    font-size: 8px;
    color: #BAD2E7;
    background-color: #2A303B;
    margin: 0;
    padding: 0;

    &:hover {
        background-color: #3E4E69;
        color: #DBDDE2;
    }
}

.col-md-12.size-img-thumb {
    height: 15px;
    cursor: pointer;

    &:hover {
        background-color: #323A4B;
    }
    
    img {
        width: 10px;
        height: 10px;
        margin: 2px 0 0 0;
        position: absolute;
        display: inline-block;
    }

    p {
        height: 12px;
        margin: 0 0 0 3px;
        padding: 0 0 0 11px;
        font-size: 8px;
        color: #9097A4;
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #BFC7D4;
        }
    }

}

