.container {
    padding: 10px 0 10px 0;
}
.containerBackground {
    background: #2A2E32; 
}

.text-titlle {
    color: white;
    text-align: justify;
}


.col.card-streaming {
    padding: 10px 0 10px 0;
    margin: 0;
}

.iframeStyle {
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 2px #000000;
}