
.InputContainer2{
    background-color: #32353C;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 2px;
    top: 10%;
    left: 35%;
    margin-right: 30%;
    width: 100%;

   }

   .InputLabel {
    color: white;
   }

   .btn {
    border-radius: 0;
    left: 10%;
   }

   .text {
    font-size: 50px;
   }

   .box {
     background-color: #565b66;
     margin-right: 840px;
     margin-left: 131px;
     height: 70px;
     left: 10%;
     

   }


   .img {
     padding-right: 10px;


   }

   #text2 {
     color: rgb(255, 251, 251);

   }

   .bottom {
     background-color: green;
     padding: 3px;
     border-radius: 2px;

   }

 