* {
  justify-content: center;
}

.InputContainer2{
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #32353C;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 2px;
    top: 10%;
    left: 35%;
    margin-right: 30%
    

   }

   .InputLabel {
    color: white;
   }

   .btn {
    border-radius: 0;
    position: absolute;
    left: 10%;
   }

   .text {
    font-size: 50px;
   }

   .box {
     background-color: #565b66;
     margin-right: 840px;
     margin-left: 131px;
     height: 70px;
     left: 10%;
     position: absolute;

   }


   .img {
     padding-right: 10px;
     position: absolute;

   }

   #text2 {
     color: rgb(255, 251, 251);
     position: absolute;
   }

   .bottom {
     background-color: green;
     padding: 3px;
     border-radius: 2px;
     position: absolute;
   }

 